<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <mirrors>
        <mirror>
            <id>rsmartbear-plugin-repository-unblocker</id>
            <mirrorOf>com.smartbear.soapui</mirrorOf>
            <name>com.smartbear.soapui</name>
            <url>http://www.soapui.org/repository/maven2/</url>
        </mirror>
    </mirrors>
</settings>